<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Create User Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">JOIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fa fa-home"></i>Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/create">Create Account <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
        <form th:action="@{/logout}" method="post">
            <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-danger btn-lg">LOGOUT</button>
        </form>
    </div>
</nav>

<div class="jumbotron text-center text-black">
    <h1>Welcome to Join.</h1>
    <h1>A File Sharing Web Application.</h1>
</div>

<div class="row justify-content-center">
    <div class = "col-sm-6 text-center">
        <form action="#" th:action="@{/create}" th:object="${userForm}" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username">
                <div> <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</label></div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                <div> <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</label></div>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
                <div> <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label></div>
            </div>
            <p id="warnMsg" th:text="${warnMsg}"></p>
            <button type="submit" class="btn btn-danger">Create Account</button>
        </form>
    </div>
</div>
</body>
</html>